{% extends "app/base.html" %}
{% block content %}
    <!--- Image Slider -->
    <div class="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="img-fluid" width="100%" src="/static/app/img/home/cover-image.png">
        </div>
      </div>
    </div>

    <!-- Welcome Section -->
    <div class="light-grey-shift txt-off-white">
      <div class="container text-center">
        <hr class="silent pt-5">
        <div class="row align-items-center">
          <div class="col-lg-2">
            <img height="200" class="img-responsive" src="/static/app/img/awards/bae-gold.jpg" alt="BAE Gold Award">
          </div>
          <div class="col-lg-8">
            <h2>Excellence In Engineering Since 1949</h2>
            <hr class="silent pt-2">
            <p class="lead">Commercial Cooling Equipment for Electronic Systems</p>
          </div>
          <div class="col-lg-2">
            <a href="/static/app/pdf/Current_EIL_ISO_Certificate.pdf" target="_blank">
              <img height="200" class="img-responsive" src="/static/app/img/base/Quality-ISO-9001.jpg" alt="ISO 9001 Certification">
            </a>
          </div>
        </div>
        <hr class="silent pt-5">
      </div>
    </div>

    <hr class="silent pt-5">

    <!-- Mission Section -->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-3 offset-md-1">
          <img class="img-fluid" src="/static/app/img/home/example-product.jpg">
        </div>
        <div class="col-md-6 offset-md-2">
          <h2 class="pb-3">About ELECTRO IMPULSE LAB., INC.</h2>
          <p><big><strong>ELECTRO IMPULSE LAB., INC.</strong> (also trading as <strong>ELECTRO IMPULSE, INC.</strong>) was originally founded in 1949 as a research and development enterprise.  With our decades of experience, we are recognized as a leading designer and manufacturer of commercial closed loop cooling systems; our products include cooling systems for high power radar and similar applications; we specialize in producing cost effective COMMERCIAL solutions to replace older full MIL equipment.</big></p>
          <p><big>Our dedicated staff of engineers and skilled crafts people work together as a team in an ISO-9001 environment to produce high quality systems completely in-house.  We have the experience, staff and capability to handle any application, from standard units to the most complicated and complex applications.  While we offer systems for many coolant types, we specialize in and are best known for PAO Systems.  <strong>ELECTRO IMPULSE LAB., INC.</strong> products are in use worldwide.</big></p>
        </div>
      </div>
    </div>

    <hr class="silent pt-5">

    <!-- Awards Section -->
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col-md-4 col-sm-6">
          <img class="img-fluid" src="/static/app/img/awards/bae-gold.jpg" alt="BAE Gold Award">
        </div>
        <div class="col-md-4 col-sm-6">
          <img class="img-fluid" src="/static/app/img/awards/flag.jpg" alt="American Flag">
        </div>
        <div class="col-md-4 col-sm-6">
          <img class="img-fluid" src="/static/app/img/awards/raytheon.jpg" alt="Raytheon Award">
        </div>
        <div class="col-md-4 col-sm-6">
          <img class="img-fluid" src="/static/app/img/awards/atlantic-test-range.jpg" alt="Atlantic Test Range Award">
        </div>
        <div class="col-md-4 col-sm-6">
          <img class="img-fluid" src="/static/app/img/awards/boeing.jpg" alt="Boeing Award">
        </div>
        <div class="col-md-4 col-sm-6">
          <img class="img-fluid" src="/static/app/img/awards/slc-air.jpg" alt="SLC Air Award">
        </div>
      </div>
    </div>

    <hr class="silent pt-5">

    <!-- Customer Section -->
    <div class="light-grey-shift txt-off-white">
      <div class="container text-center">
        <hr class="silent pt-5">
        <h2>Our Customers</h2>
        <hr class="silent pt-5">
      </div>
    </div>
    <hr class="silent pt-3">
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col-sm-6 col-md-3">
          <a title="Naval Sea Systems Command" href="http://www.navsea.navy.mil/" target="_blank"><img src="/static/app/img/customers/NAVSEA_logo.jpg" alt="Naval Sea Systems Command"></a>
        </div>
        <div class="col-sm-6 col-md-3">
          <a title="Naval Supply Systems Command" href="http://www.navsup.navy.mil/" target="_blank"><img src="/static/app/img/customers/NAVSUP_LOGO.png" alt="Naval Supply Systems Command"></a>
        </div>
        <div class="col-sm-6 col-md-3">
          <a title="U.S. Navy" href="http://www.navy.mil/" target="_blank"><img src="/static/app/img/customers/Navy_Logo.jpg" alt="U.S. Navy"></a>
        </div>
        <div class="col-sm-6 col-md-3">
          <a title="Defense Logistics Agency" href="http://www.dla.mil/" target="_blank"><img src="/static/app/img/customers/dla_logo.gif" alt="Defense Logistics Agency"></a>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-sm-6 col-md-4">
          <a title="BAE Systems" href="https://www.baesystems.com/en/home" target="_blank"><img src="/static/app/img/customers/baesystems.png" alt="BAE Systems"></a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a title="Raytheon Missile Systems" href="http://www.raytheon.com/" target="_blank"><img src="/static/app/img/customers/rtn_logo.gif" alt="Raytheon Missile Systems"></a>
        </div>
        <div class="col-sm-12 col-md-4">
          <a title="Lockheed Martin" href="https://www.lockheedmartin.com/en-us/index.html" target="_blank"><img src="/static/app/img/customers/lockheedmartin.png" alt="Lockheed Martin"></a>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-sm-6">
          <a title="Leonardo DRS" href="https://www.leonardodrs.com/" target="_blank"><img width="180px" src="/static/app/img/customers/leonardodrs.png" alt="Leonardo DRS"></a>
        </div>
        <div class="col-sm-6">
          <a title="IAI" href="https://www.iai.co.il/" target="_blank"><img width="180px" src="/static/app/img/customers/iai.jpg" alt="IAI"></a>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-sm-6">
          <a title="Northrop Grumman" href="https://www.northropgrumman.com/Pages/default.aspx" target="_blank"><img src="/static/app/img/customers/northropgrumman.png" alt="Northrop Grumman"></a>
        </div>
        <div class="col-sm-6">
          <a title="Newport News Shipbuilding" href="http://nns.huntingtoningalls.com/" target="_blank"><img width="180px" src="/static/app/img/customers/NNS-1.png" alt="Newport News Shipbuilding"></a>
        </div>
      </div>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
