{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">Directions</h1>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="blue-shift txt-white round border border-white p-3"><strong>ELECTRO IMPULSE LAB., INC.</strong></h3>
        <hr class="silent pt-1">
        <div class="row">
          <div class="col-md-3 custom-border-right-white">
            <h4 class="txt-white"><strong>Email:</strong></h4>
            <hr class="silent">
            <p><i>sales@electroimpulse.com</i></p>
          </div>
          <div class="col-md-3 custom-border-right-white">
            <h4 class="txt-white"><strong>Phone:</strong></h4>
            <hr class="silent">
            <p>Main: (732) 776-5800</p>
            <p>Alternate: (732) 741-0404</p>
            <p>Fax: (732) 776-6793</p>
          </div>
          <div class="col-md-3 custom-border-right-white">
            <h4 class="txt-white"><strong>Location:</strong></h4>
            <hr class="silent">
            <p>1805 Route 33, P.O. Box 278</p>
            <p>Neptune, NJ 07754-0278</p>
          </div>
          <div class="col-md-3">
            <h4 class="txt-white"><strong>Hours:</strong></h4>
            <hr class="silent">
            <p>7:00am - 4:30pm Mon - Thurs</p>
          </div>
        </div>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="light-grey-shift txt-off-white">
      <div class="container text-center">
        <hr class="silent pt-5">
        <h3>Directions From Newark International Airport</h3>
        <hr class="silent pt-5">
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-borderless table-hover table-dark">
              <thead class="blue-shift txt-white">
                <tr>
                  <th class="align-middle" scope="col">Step</th>
                  <th class="align-middle" scope="col">Distance</th>
                  <th class="align-middle" scope="col">Directions</th>
                  <th class="align-middle" scope="col">Total Distance</th>
                </tr>
              </thead>
              <tbody class="light-grey-shift txt-off-white">
                <tr>
                  <td class="align-middle" scope="row">Start</td>
                  <td class="align-middle">-</td>
                  <td class="align-middle">Head west on Newark International Airport Exit</td>
                  <td class="align-middle">-</td>
                </tr>
                <tr>
                  <td class="align-middle" scope="row">1</td>
                  <td class="align-middle">0.5 mi</td>
                  <td class="align-middle">Continue onto ramp to US 1 & 9 South.</td>
                  <td class="align-middle">0.5 mi</td>
                </tr>
                <tr>
                  <td class="align-middle" scope="row">2</td>
                  <td class="align-middle">0.4 mi</td>
                  <td class="align-middle">Take US 1 & 9 South to:</td>
                  <td class="align-middle">0.8 mi</td>
                </tr>
                <tr>
                  <td class="align-middle" scope="row">3</td>
                  <td class="align-middle">1.2 mi</td>
                  <td class="align-middle">State Highway 81 South to:</td>
                  <td class="align-middle">2.0 mi</td>
                </tr>
                <tr>
                  <td class="align-middle" scope="row">4</td>
                  <td class="align-middle">1.6 mi</td>
                  <td class="align-middle">I95 (New Jersey Turnpike) South</td>
                  <td class="align-middle">3.6 mi</td>
                </tr>
                <tr>
                  <td class="align-middle" scope="row">5</td>
                  <td class="align-middle">9.9 mi</td>
                  <td class="align-middle">Take Exit 11</td>
                  <td class="align-middle">13.6 mi</td>
                </tr>
                <tr>
                  <td class="align-middle" scope="row">6</td>
                  <td class="align-middle">1.6 mi</td>
                  <td class="align-middle">Bear left onto Garden State Parkway South</td>
                  <td class="align-middle">15.1 mi</td>
                </tr>
                <tr>
                  <td class="align-middle" scope="row">7</td>
                  <td class="align-middle">28.4 mi</td>
                  <td class="align-middle">Take Exit 100B onto Corlies Ave (State Highway 33 East)</td>
                  <td class="align-middle">43.5 mi</td>
                </tr>
                <tr>
                  <td class="align-middle" scope="row">8</td>
                  <td class="align-middle">3.6 mi</td>
                  <td class="align-middle">Turn left onto Taylor Avenue. ELECTRO IMPULSE LAB., INC. is on left side of road at the corner of Taylor and Corlies Avenues.</td>
                  <td class="align-middle">47.1 mi</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <img class="card-img-bottom" src="/static/app/img/company/map.gif" alt="Map From Airport To Electro Impulse">
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="light-grey-shift txt-off-white">
      <div class="container text-center">
        <hr class="silent pt-5">
        <h3>Local Accommodations</h3>
        <hr class="silent pt-5">
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="light-grey-shift txt-off-white border border-white round p-4">
        <div class="table-responsive">
          <table class="table table-borderless table-hover table-dark">
            <thead class="blue-shift txt-white">
              <tr>
                <th class="align-middle">Resort</th>
                <th class="align-middle">Address</th>
                <th class="align-middle">Parkway Exit</th>
                <th class="align-middle">Phone #</th>
              </tr>
            </thead>
            <tbody class="light-grey-shift txt-off-white">
              <tr>
                <td class="align-middle">Courtyard by Marriott</td>
                <td class="align-middle">1302 Campus Pkwy., Wall Twp., NJ</td>
                <td class="align-middle">GSP Exit 100A</td>
                <td class="align-middle">800-321-2211</td>
              </tr>
              <tr>
                <td class="align-middle">Courtyard by Marriott</td>
                <td class="align-middle">225 Half Mile Road, Red Bank, NJ</td>
                <td class="align-middle">GSP Exit 109</td>
                <td class="align-middle">800-321-2211</td>
              </tr>
              <tr>
                <td class="align-middle">Courtyard by Marriott</td>
                <td class="align-middle">600 Hope Road, Tinton Falls, NJ</td>
                <td class="align-middle">GSP Exit 105</td>
                <td class="align-middle">800-321-2211</td>
              </tr>
              <tr>
                <td class="align-middle">Doubletree Tinton Falls</td>
                <td class="align-middle">700 Hope Road, Tinton Falls, NJ</td>
                <td class="align-middle">GSP Exit 105</td>
                <td class="align-middle">732-544-9300</td>
              </tr>
              <tr>
                <td class="align-middle">McIntosh Inn</td>
                <td class="align-middle">294 Hwy. 36E, W. Long Branch, NJ</td>
                <td class="align-middle">GSP Exit 105</td>
                <td class="align-middle">732-542-7900</td>
              </tr>
              <tr>
                <td class="align-middle">Ocean Place Oceanfront Resort</td>
                <td class="align-middle">1 Ocean Blvd., Long Branch, NJ</td>
                <td class="align-middle">GSP Exit 105</td>
                <td class="align-middle">732-571-4000</td>
              </tr>
              <tr>
                <td class="align-middle">Residence Inn by Marriott</td>
                <td class="align-middle">230 Jumping Brook Rd., Neptune, NJ</td>
                <td class="align-middle">GSP Exit 100B</td>
                <td class="align-middle">800-331-3131</td>
              </tr>
              <tr>
                <td class="align-middle">Residence Inn by Marriott</td>
                <td class="align-middle">90 Park Road, Tinton Falls, NJ</td>
                <td class="align-middle">GSP Exit 105</td>
                <td class="align-middle">800-331-3131</td>
              </tr>
              <tr>
                <td class="align-middle">Sheraton Eatontown</td>
                <td class="align-middle">Hwy. 35 & Industrial Way, Eatontown, NJ</td>
                <td class="align-middle">GSP Exit 105</td>
                <td class="align-middle">732-542-6500</td>
              </tr>
              <tr>
                <td class="align-middle">* Holiday Inn Express</td>
                <td class="align-middle">3510 State Route 66, Neptune, NJ</td>
                <td class="align-middle">GSP Exit 100</td>
                <td class="align-middle">732-922-9600</td>
              </tr>
              <tr>
                <td class="align-middle">Sunrise Suites</td>
                <td class="align-middle">3 Centre Plaza, Tinton Falls, NJ</td>
                <td class="align-middle">GSP Exit 105</td>
                <td class="align-middle">732-389-4800</td>
              </tr>
              <tr>
                <td class="py-3 align-middle" colspan="4"><big>* = Closest to ELECTRO IMPULSE LAB., INC.</big></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
