{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">Company Facilities</h1>
    </div>

    <hr class="silent pt-5">
    
    <div class="container text-center">
      <div class="light-grey-shift txt-off-white round p-4">
        <h2 class="blue-shift txt-white border border-white round p-3"><strong>Engineering, Quality and Documentation</strong></h2>
        <hr class="silent pt-2">
        <p class="m-0 p-2"><big>These are "The Key Words at <strong>ELECTRO IMPULSE LAB., INC.</strong>". All of our products are engineered, designed and assembled by our staff in <strong>ELECTRO IMPULSE LAB., INC.'S</strong> 60,000 square foot modern manufacturing facility.</big></p>
        <p class="m-0 p-2"><big>Our Engineering Department has overall involvement with every project, including design, manufacture and test. Our engineers and draftsmen use CAD programs and equipment to document all designs and changes.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="light-grey-shift txt-off-white round p-4">
        <h2 class="blue-shift txt-white border border-white round p-3"><strong>In-House Metal Fabrication</strong></h2>
        <div class="row">
          <div class="col-md-3">
            <h5 class="txt-white"><i>Welding</i></h5>
          </div>
          <div class="col-md-3">
            <h5 class="txt-white"><i>Machining Operations</i></h5>
          </div>
          <div class="col-md-3">
            <h5 class="txt-white"><i>Frame & Panel Fabrication</i></h5>
          </div>
          <div class="col-md-3">
            <h5 class="txt-white"><i>Painting</i></h5>
          </div>
        </div>
        <p class="m-0 p-2"><big>This capability ensures quick, high quality fabrication of components to support our design operations. Skilled, certified craftsmen, with many years of experience and service, fabricate your stainless steel and aluminum components and assemblies.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="light-grey-shift txt-off-white round p-4">
        <h2 class="blue-shift txt-white border border-white round p-3"><strong>Assembly/Production</strong></h2>
        <hr class="silent pt-2">
        <p class="m-0 p-2"><big>A well organized management/production team provides support from start to finish in making certain they have the proper parts, documentation and instructions for all work. Milestones are set up for every job and production and design reviews are held frequently.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="light-grey-shift txt-off-white round p-4">
        <h2 class="blue-shift txt-white border border-white round p-3"><strong>Final Testing</strong></h2>
        <hr class="silent pt-2">
        <p class="m-0 p-2"><big>Every unit manufactured by <strong>ELECTRO IMPULSE LAB., INC.</strong> is thoroughly tested, assuring that it will meet all customer required specifications. An acceptance test procedure helps guide each unit through this testing phase, and serialized test data is recorded for every unit.</big></p>
        <p class="m-0 p-2"><big>Our Test Department is equipped with a wealth of state-of-the-art test and measuring equipment. This includes power sources to simulate worldwide voltages and frequencies (including DC, 50, 60 and 400 Hz), environmental test chambers and test loads to satisfy our customers requirements. Other special services (such as shock and vibration testing) are also available.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="light-grey-shift txt-off-white round p-4">
        <h2 class="blue-shift txt-white border border-white round p-3"><strong>Quality Assurance Start To Finish</strong></h2>
        <hr class="silent pt-2">
        <p class="m-0 p-2"><big><strong>ELECTRO IMPULSE LAB., INC.</strong> is certified to <a href="/static/app/pdf/Current_EIL_ISO_Certificate.pdf" target="_blank"><i>ISO 9001:2015</i></a>, ensuring a world class quality system. Our reputation of excellence is built on this quality system, which covers every phase of operation from engineering through production and final shipment. Other certifications are available. Our goal is to provide our customers with excellent products, engineering and service support that meets their quality, technical and schedule requirements.</big></p>
      </div>
    </div>
    
    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="light-grey-shift txt-off-white round p-4">
        <h2 class="blue-shift txt-white border border-white round p-3"><strong>Technical Assistance</strong></h2>
        <hr class="silent pt-2">
        <p class="m-0 p-2"><big>At <strong>ELECTRO IMPULSE LAB., INC.</strong> we stand ready to provide you with accurate and precise technical assistance and troubleshooting techniques when required or needed. You are never more than a phone call away from our highly qualified and experienced Specialists and Engineering Department. Our professional staff is pleased to offer assistance and recommendations you can trust throughout all phases of any project, from your initial inquiry throughout the unit's service life.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="light-grey-shift txt-off-white round p-4">
        <h2 class="blue-shift txt-white border border-white round p-3"><strong>Inventory</strong></h2>
        <hr class="silent pt-2">
        <p class="m-0 p-2"><big>A large inventory of component parts and sub-assemblies is maintained for production and spare parts support of all <strong>ELECTRO IMPULSE LAB., INC.</strong> units, regardless of age.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="light-grey-shift txt-off-white round p-4">
        <h2 class="blue-shift txt-white border border-white round p-3"><strong>Product Support</strong></h2>
        <hr class="silent pt-2">
        <p class="m-0 p-2"><big>Our products are designed for years of reliable operation. <strong>ELECTRO IMPULSE LAB., INC.</strong> warrants all products to be free from defects in material and workmanship for a period of one year. We stand behind the quality of our products, regardless of age. Please call us if you require any support.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
