{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">Coolants Supported</h1>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">ELECTRO IMPULSE LAB., INC. Supports a Wide Variety of Coolants</h3>
        <hr class="silent pt-3">
        <p><big><strong>ELECTRO IMPULSE LAB., INC.</strong>'s Cooling Equipment supports a wide variety of standard and specialty coolants. The characteristics of coolants differ so significantly that they can dictate the design of the cooling system, so it is important to select the proper coolant. See the <a href="/technology/cooling-systems/cooling-methods">Selecting Coolants</a> and <a href="/technology/cooling-systems/coolant-select">Coolant Section Chart</a> pages for more details on Coolant parameters. Listed below are some of the coolants available with <strong>ELECTRO IMPULSE LAB., INC.</strong>'s Cooling Equipment.</big></p>
        <hr class="silent pt-3">
        <ul class="list-group">
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>MIL-PRF-87252 PAO (Poly-alphaolefin) <strong class="pl-4">- OUR SPECIALTY</strong></big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Air</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Water</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Deionized (DI) Water</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Ulta-pure Deionized (DI) Water</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Ethylene Glycol & Water Solutions</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Propylene Glycol & Water Solutions</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Coolanol 20R, 25R, 35R</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>DC-200</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Dowtherm J</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Dowtherm G</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Diala AX / Univolt 33</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Marcol 87 (CS)</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>MIL-H-5606</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Fluorinert - FC75/FC77/FC104/FC770</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Dow Syltherm Silicone Oils</big></p></li>
        </ul>
      </div>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
