{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">Non-Refrigerated CU Series</h1>
    </div>

    <hr class="silent pt-5">

    <div class="light-grey-shift txt-off-white">
      <div class="container text-center">
        <hr class="silent pt-5">
        <h2>CU Series Non-Refrigerated Liquid To Air Heat Exchangers</h2>
        <hr class="silent pt-5">
      </div>
    </div>

    <hr class="silent pt-5">
    
    <div class="container">
      <div class="card text-white border-0">
        <img class="card-img" src="/static/app/img/products/non-refrigerated/CU-Series.png" alt="CU Series Unit">
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">Non-Refrigerated Heat Exchangers<br>Uses Ambient Air as Ultimate Heat Sink</h3>
        <hr class="silent pt-3">
        <div class="txt-off-white p-2">
          <ul class="list-group">
            <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Highly efficient and economical.</big></p></li>
            <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Use where coolant temperatures are less critical and may be above ambient.</big></p></li>
            <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Coolants may be water, glycol/water solutions, PAO Coolanol, Fluorocarbons, etc.</big></p></li>
            <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Outdoor and custom units available.</big></p></li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
