{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">Non-Refrigerated Cooling Equipment</h1>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">

      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="white-shift p-4">
            <a href="/products/cooling-equipment/non-refrigerated/cu-series"><img class="img-fluid" src="/static/app/img/products/non-refrigerated/CU-Series.png" alt="CU Series Unit"></a>
            <h3>Liquid-to-Air</h3>
            <hr class="silent pt-3">
            <a href="/products/cooling-equipment/non-refrigerated/cu-series" class="btn btn-lg steel-btn">CU Series</a>
            <hr class="silent pt-3">
            <p><big>Uses Ambient Air as Ultimate Heat Sink. Non-Refrigerated Heat Exchangers.</big></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="white-shift p-4">
            <a href="/products/cooling-equipment/non-refrigerated/cuw-series"><img class="img-fluid" src="/static/app/img/products/non-refrigerated/CUW-Series.bmp" alt="CUW Series Unit"></a>
            <h3>Liquid-to-Liquid</h3>
            <hr class="silent pt-3">
            <a href="/products/cooling-equipment/non-refrigerated/cuw-series" class="btn btn-lg steel-btn">CUW Series</a>
            <hr class="silent pt-3">
            <p><big>Uses Water as Ultimate Heat Sink. Non-Refrigerated Heat Exchangers.</big></p>
          </div>
        </div>
        <div class="col-md-12">
          <a href="/products/cooling-equipment/non-refrigerated/rc-non-refrig-series"><img class="img-fluid" src="/static/app/img/products/non-refrigerated/RC-Combo.png" alt="RC Series Unit"></a>
          <h3>Air Circulating</h3>
          <hr class="silent pt-3">
          <a href="/products/cooling-equipment/non-refrigerated/rc-non-refrig-series" class="btn btn-lg steel-btn">RC Series</a>
          <hr class="silent pt-3">
          <p><big>RC series circulates ambient air.</big></p>
        </div>
      </div>
      
    </div>

    <hr class="silent pt-5">
{% endblock content %}
