{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">Non-Refrigerated RC Series</h1>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="card border-0">
        <img class="img-fluid" src="/static/app/img/products/non-refrigerated/RC-Combo.png" alt="RC Non-Refrigerated Series Unit">
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">RC Series Non-Refrigerated Air Circulating Systems</h3>
        <hr class="silent pt-3">
        <p class="p-2"><big><strong>ELECTRO IMPULSE LAB., INC.</strong> RC Series non-refrigerated air circulating systems provide air at a controlled flow rate with monitoring of pressure and temperatures. These units can be rack mounted or standalone and can have one or multiple controlled air outputs.<br><br>Easy installation. Connect supply lines to heat load, connect line power, ground and safety interlock.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
