{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">Hydraulic & Filtering Systems</h1>
    </div>

    <hr class="silent pt-5">

    <div class="light-grey-shift txt-off-white">
      <div class="container text-center">
        <hr class="silent pt-5">
        <h3>ELECTRO IMPULSE LAB., INC. also designs and manufactures hydraulic units and filtering systems for aircraft ground support and other applications.</h3>
        <hr class="silent pt-5">
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <hr class="silent pt-2">
          <h2 class="card-title">Hydraulic Units<br>&<br>Filtering Systems</h2>
          <hr class="silent pt-2">
        </div>
        <img class="card-img-top" src="/static/app/img/products/hydraulic/Hydraulic.jpg" alt="Hydraulic Unit & Filtering System">
      </div>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
