{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">ELECTRO IMPULSE LAB., INC.<br>Products</h1>
    </div>

    <hr class="silent pt-5">

    <div class="container w-50">
      <div class="card text-white border-0">
        <img class="card-img" src="/static/app/img/awards/atlantic-test-range.jpg" alt="Atlantic Test Range">
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <p><big>Custom and standard Closed Loop Cooling systems, Fluid Transfer equipment, High Purity Liquid Coolers and related products. Complete Manufacturing and Engineering Services are available for custom or standard equipment.</big></p>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="d-inline-flex p-3">
        <a href="/products/cooling-equipment" class="btn btn-lg bg-steel steel-btn">Cooling Equipment</a>
      </div>
      <div class="d-inline-flex p-3">
        <a href="/products/hydraulic-filter" class="btn btn-lg bg-steel steel-btn">Hydraulic & Filtering Systems</a>
      </div>
      <div class="d-inline-flex p-3">
        <a href="/products/other-systems" class="btn btn-lg bg-steel steel-btn">Other Systems</a>
      </div>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
