{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">Other Systems</h1>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">ELECTRO IMPULSE LAB., INC.</h3>
        <hr class="silent pt-3">
        <p><big><strong>ELECTRO IMPULSE LAB., INC.</strong> can design and manufacture a variety of specialized cooling units from existing designs to custom designs to your specifications. Shown below are a Freeze and Thaw unit for the pharmaceutical industry and a custom airborne (POD) cooling unit. Both are recent <strong>ELECTRO IMPULSE LAB., INC.</strong> designs.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="card text-white bg-dark">
            <div class="card-body">
              <hr class="silent pt-2">
              <h2 class="card-title">Pharmaceutical Freeze<br>& Thaw Unit</h2>
              <hr class="silent pt-2">
            </div>
            <img class="card-img-top" src="/static/app/img/products/other/OtherFreezThaw.jpg" alt="Other Freeze Thaw Unit">
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="card text-white bg-dark">
            <div class="card-body">
              <hr class="silent pt-2">
              <h2 class="card-title">Airborne (POD)<br>Cooling Unit</h2>
              <hr class="silent pt-2">
            </div>
            <img class="card-img-top" src="/static/app/img/products/other/OtherPOD.jpg" alt="Other POD Unit">
          </div>
        </div>
      </div>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
