{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">Closed Loop Cooling Systems</h1>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">Tips For Selecting And Installing Closed Loop Cooling Systems</h3>
        <hr class="silent pt-3">
        <ul class="list-group">
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>1.  <strong>ELECTRO IMPULSE LAB., INC.</strong> cooling units are rated for performance at the supply connection of the cooling unit. Thus, any external heat load or pressure drop must be considered part of the total load when sizing a cooling unit. Therefore, the pressure drop and heat losses of hoses, inter-connecting fittings, etc. must be taken into account by the user. The following minimum line sizes are recommended when connecting the cooling unit to the heat load. If in doubt, always use the next larger size hose or pipe.</big></p></li>
          <hr class="silent pt-3">
          <div class="table-responsive text-center">
            <table class="table table-hover table-borderless table-dark">
              <thead class="blue-shift txt-white">
                <tr>
                  <th class="align-middle" scope="col">Flow GPM</th>
                  <th class="align-middle" scope="col">Hose Size, Inside Diameter (Inches)</th>
                  <th class="align-middle" scope="col">Equivalent Pipe Size (Inches)</th>
                </tr>
              </thead>
              <tbody class="light-grey-shift txt-off-white">
                <tr>
                  <td class="align-middle">1</td>
                  <td class="align-middle">3/8</td>
                  <td class="align-middle">1/4</td>
                </tr>
                <tr>
                  <td class="align-middle">2</td>
                  <td class="align-middle">1/2</td>
                  <td class="align-middle">3/8</td>
                </tr>
                <tr>
                  <td class="align-middle">4</td>
                  <td class="align-middle">5/8</td>
                  <td class="align-middle">1/2</td>
                </tr>
                <tr>
                  <td class="align-middle">10</td>
                  <td class="align-middle">3/4</td>
                  <td class="align-middle">3/4</td>
                </tr>
                <tr>
                  <td class="align-middle">20</td>
                  <td class="align-middle">1</td>
                  <td class="align-middle">1</td>
                </tr>
                <tr>
                  <td class="align-middle" colspan="3"><p><big>Coolant: Water<br>Total Line Length: 50ft. (25ft. each direction)</big></p></td>
                </tr>
                <tr>
                  <td class="align-middle" colspan="3"><p><big>Also consider the thermal load imposed by room ambient, solar heating, etc. on the system, including hoses. This must be considered as part of the heat load. For refrigerated units, it is recommended that all hose runs be insulated to prevent condensation and loss of capacity.</big></p></td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr class="silent pt-3">
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>2.  Line Voltage: Because closed loop cooling systems employ motors and compressors, correct line voltage, phasing and frequency is very important.</big></p></li>
          <hr class="silent pt-3">
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>3.  Consider the amount of heat added by the cooling unit to the room. Normally, the amount of heat added to the room by an air cooled unit is the amount of power removed from the heat load, plus an additional 30% (approximate) for the motor heat. If an air cooled unit is to be operated in an air conditioned room, consider the added heat load imposed on the air conditioning system. In any case, make certain that proper ventilation of the room is provided such that the ambient temperature does not rise above the maximum limits. If heat rejection into the room is unacceptable you may relocate the unit or select an alternate cooling method, i.e. liquid-to-liquid (CUW Series), water cooled condenser (RUW Series), split system or an outdoor unit.</big></p></li>
          <hr class="silent pt-3">
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>4.  Change coolant, filters and deionizer elements regularly to maintain performance. The frequency of replacement of these elements depends largely on the amount of impurities in the system and the quality of the coolant used in the initial filling. Normally, filter elements should be changed within 1-2 weeks after unit startup, and then a minimum of every 6 months thereafter. Increased frequency of replacement may be needed depending on system conditions. Circulating coolants should be changed or reconditioned every 6-12 months depending on use.</big></p></li>
          <hr class="silent pt-3">
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>5.  Use of deionized water in standard units: The wetted path in our standard units designed for use with water typically include stainless steel, copper, synthetic rubbers, plastic and limited amounts of nickel plated non-ferrous alloys, all of which are compatible with deionized water and/or water/glycol solutions. If deionized water solutions are to be used in our cooling units, <strong>ELECTRO IMPULSE LAB., INC.</strong> highly recommends the use of a deionizing filter system to maintain coolant purity and cleanliness. Optional deionizing filter systems are available for all our standard units. Please consult with the factory for further details.</big></p></li>
          <hr class="silent pt-3">
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>6.  If you have any problems our engineering staff is always available to help you. Please feel free to call us. We stand behind our products and we will assist you in any way we can.</big></p></li>
        </ul>
      </div>
    </div>
    
    <hr class="silent pt-5">
{% endblock content %}
