{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">Cooling Systems</h1>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <p class="lead">The Following Are Links To Useful Information...</p>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="d-inline-flex p-3">
        <a href="/technology/cooling-systems/introduction" class="btn btn-lg bg-steel steel-btn">Introduction to Cooling Systems</a>
      </div>
      <div class="d-inline-flex p-3">
        <a href="/technology/cooling-systems/coolant-select" class="btn btn-lg bg-steel steel-btn">Coolant Selection Chart</a>
      </div>
      <div class="d-inline-flex p-3">
        <a href="/technology/cooling-systems/cooling-methods" class="btn btn-lg bg-steel steel-btn">Selecting Cooling Methods</a>
      </div>
      <div class="d-inline-flex p-3">
        <a href="/technology/cooling-systems/pumps-reservoirs" class="btn btn-lg bg-steel steel-btn">Pumps & Reservoirs</a>
      </div>
      <div class="d-inline-flex p-3">
        <a href="/technology/cooling-systems/closed-loop-sys" class="btn btn-lg bg-steel steel-btn">Closed Loop Systems</a>
      </div>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
