{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">Introduction To Cooling Systems</h1>
    </div>

    <hr class="silent pt-5">

    <div class="container light-grey-shift txt-off-white round p-4">
      <h3 class="text-center blue-shift txt-white border border-white round p-4">Cooling Systems</h3>
      <hr class="silent pt-3">
      <p><big>Adequate heat dissipation in electronic and industrial equipment can often determine the overall design and performance of the system. Improper or inadequate cooling can severely shorten the life of many components and affect operating characteristics. Although simple convection or forced-air cooling techniques will satisfy many requirements, those in which power density is over ten watts per square inch are usually better met by liquid cooling. The use of liquid cooling also eliminates the acoustic noise and vibration associated with forced air, since the cooling package can be remotely located.</big></p>
      <p><big>Where large volumes of cooling liquid are required, a closed-loop system offers economy, control and dependability. Closed-loop cooling systems recirculate water, other liquids or air to the heat load and back, requiring no refilling of the system. Thus, they cut water consumption rates, eliminate sewer taxes and ease the load on plant cooling systems. Further, they offer the advantage of being able to filter, purify, deionize and control the coolant to any desired level of purity, temperature and flow.</big></p>
      <p><big>Liquid cooling, using water or other fluids, is simply the removal of heat from the equipment being cooled to a heat sink or ultimate coolant, via a liquid or air medium. This catalog describes design considerations, applications and characteristics of cooling units of this type available to the industry.</big></p>
    </div>

    <hr class="silent pt-5">

    <div class="light-grey-shift txt-off-white">
      <div class="container text-center">
        <hr class="silent pt-5">
        <h4><strong>ELECTRO IMPULSE LAB,. INC.</strong> offers both standard and special product lines of closed-loop coolers using both direct heat exchange and refrigeration. The information contained on this Web Site is intended to furnish the reader with insight into the characteristics, applications and specification of such units.</h4>
        <hr class="silent pt-3">
        <h4><strong>ELECTRO IMPULSE LAB,. INC.</strong> Cooling Systems are world renowned for their reliability and high quality of construction. OEMs, laboratories, hospitals and the military choose <strong>ELECTRO IMPULSE LAB,. INC.</strong> as their chiller of choice.</h4>
        <hr class="silent pt-5">
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container light-grey-shift txt-off-white round p-4">
      <h3 class="text-center blue-shift txt-white border border-white round p-4">Selecting the Coolant</h3>
      <hr class="silent pt-3">
      <p><big>Water is the most common and efficient coolant used in recirculating cooling. However, there are many applications where water is not suitable because of its corrosiveness, freezing/boiling points, conductivity etc. There is a wide variety of alternative coolants available. Some of the most popular coolants are shown on the Coolant Selection Chart. The characteristics of coolants differ so significantly that they can dictate the design of the cooling system, so it is important to select the proper coolant.</big></p>
      <p><big>When deciding what type of coolant to use, some of the factors which should be considered are:</big></p>
      <ul class="list-group">
        <li class="list-group-item list-group-item-dark"><p class="m-0"><big>1. Operating and storage temperatures</big></p></li>
        <li class="list-group-item list-group-item-dark"><p class="m-0"><big>2. Operating and storage pressures</big></p></li>
        <li class="list-group-item list-group-item-dark"><p class="m-0"><big>3. Heat transfer capability</big></p></li>
        <li class="list-group-item list-group-item-dark"><p class="m-0"><big>4. Viscosity and specific gravity</big></p></li>
        <li class="list-group-item list-group-item-dark"><p class="m-0"><big>5. Flammability, toxicity, safety, ozone depleting characteristics and handling considerations</big></p></li>
        <li class="list-group-item list-group-item-dark"><p class="m-0"><big>6. Compatibility with system materials, including seals and pumps</big></p></li>
        <li class="list-group-item list-group-item-dark"><p class="m-0"><big>7. Dielectric strength, conductivity/resistivity, color and appearance</big></p></li>
        <li class="list-group-item list-group-item-dark"><p class="m-0"><big>8. Cost and availability</big></p></li>
        <li class="list-group-item list-group-item-dark"><p class="m-0"><big>9. Environmental factors</big></p></li>
      </ul>
    </div>

    <hr class="silent pt-5">

    <div class="container light-grey-shift txt-off-white round p-4">
      <h3 class="text-center blue-shift txt-white border border-white round p-4">Save Water and Money</h3>
      <hr class="silent pt-3">
      <p><big>Running tap water through your equipment is wasteful and costly. If your equipment requires five gallons of water per minute, 24 hours per day, 365 days per year, you can send 2.6 million gallons of water down the drain each year! Switching from tap water cooling to a recirculating cooler may offer you many advantages. Unlike tap water the coolant you choose to circulate through your delicate equipment is free from particles, scale and organic matter. Recirculating coolers offer control over flow, temperature and pressure of your coolant increasing the efficiency of your equipment.</big></p>
      <p><big>If a liquid-to-liquid CUW Series cooling unit is employed and tap water is used as the ultimate heat sink, the tap water would be drawn and modulated only as needed to control the primary coolant temperature. This system decreases overall tap water consumption. A refrigerated CU Series unit will eliminate the need for tap water all together.</big></p>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
