{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">Pumps & Reservoirs</h1>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">Introduction to Pumps and Reservoirs</h3>
        <hr class="silent pt-3">
        <p><big>A closed loop liquid cooling system utilizes a pump to circulate the coolant to the heat load and back to the cooling unit.</big></p>
        <p><big>Various types of pumps are used in <strong>ELECTRO IMPULSE LAB,. INC.</strong> cooling units, depending on the coolant and the flow, pressure and temperature requirements of the application. Our cooling units generally use vane, gear, turbine or centrifugal pumps, whichever is best suited for the application. These pumps are designed for continuous duty at maximum rated pressure and, where necessary, are fitted with a bypass pressure relief valve to protect the pump and system from excessive pressures. Some coolants and applications require the use of special pumps such as wet motor designs, sealless magnetic drive pumps and pumps designed for extreme temperature ranges. Many types of pumps are available, including those designed for 50Hz, 400Hz, or for DC line voltages.</big></p>
        <p><big>Higher pressure pumps may be required in some cases. This often depends on the characteristics of the piping between the recirculating cooler as well as the customer's equipment to be cooled. There are several factors which can lead to a large pressure drop (and hence the need for a higher pressure pump). Some of these factors include:</big></p>
        <ul class="list-group">
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>The recirculating fluid viscosity is greater than 20 centistokes.</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>The external interconnecting piping is improperly sized for the required flow rate.</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>There is a long length of interconnecting piping (i.e. a long distance between the cooling unit and the equipment to be cooled).</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Other restrictions to fluid flow within the equipment to be cooled.</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>The equipment to be cooled is on a higher elevation than the cooler.</big></p></li>
        </ul>
        <hr class="silent pt-3">
        <p><big> The inlet (or suction) of the pump is typically connected directly to a stainless steel reservoir with the following characteristics:</big></p>
        <ul class="list-group">
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Full flow-through design.</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Sealed from ambient air and protected from over pressure.</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Allows for filling of the coolant.</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Allows for purging of entrained air/gasses from the coolant.</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Provides for a positive suction head to the pump inlet.</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Allows for expansion of the coolant. Some of our special units may employ accumulators or other equipment, in addition to, or in place of the reservoir.</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Has pressurizeable nitrogen blanket options.</big></p></li>
        </ul>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="light-grey-shift txt-off-white">
      <div class="container text-center">
        <hr class="silent pt-5">
        <h3>Special Options</h3>
        <hr class="silent pt-5">
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">Instrumentation and Interlocks</h3>
        <hr class="silent pt-3">
        <p><big>Most <strong>ELECTRO IMPULSE LAB,. INC.</strong> cooling systems are supplied standard with a coolant supply pressure gauge, coolant supply temperature gauge, reservoir level gauge, over-temperature and low flow switches and front panel fault indication. There are many other optional choices available depending on customer requirements, such as:</big></p>
        <ul class="list-group">
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Flow Meters</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Resistivity/Conductivity Instruments</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Computer Interfaces</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Digital Displays</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Reservoir Level Switches</big></p></li>
        </ul>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">Environmental Concerns</h3>
        <hr class="silent pt-3">
        <p><big><strong>ELECTRO IMPULSE LAB,. INC.</strong> is concerned about using only environmentally friendly refrigerants in all new designs. We can also support older equipment. We employ licensed refrigeration technicians and refrigerant recovery equipment. We are pioneers in the use of environmentally friendly refrigerants and coolants.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">Temperature Controls</h3>
        <hr class="silent pt-3">
        <p><big>Our refrigerated units feature a high accuracy solid state temperature control system. The refrigeration system uses hot gas bypass circuitry for excellent temperature control over varying heat loads.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">Deionizers</h3>
        <hr class="silent pt-3">
        <p><big>We can provide active deionization equipment that will condition and maintain water solutions for high resistivity applications.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">Filters and Strainers</h3>
        <hr class="silent pt-3">
        <p><big>We are specialists in filtration of flowing liquids. Coolants can pick up and carry particles of dirt, corrosion and other system impurities, which can not only damage the cooling system, but can also foul the user's equipment. Depending on requirements, filters and strainers can be provided. They can be fitted with filter differential gauges, switches, indicators and bypass loops, enabling the filter to be changed while the cooling unit continues to operate.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">Outdoor/Weatherproof Units</h3>
        <hr class="silent pt-3">
        <p><big>Our optional outdoor and special application units are designed with all the necessary components, hardware and cabinetry to supply highly reliable systems capable of withstanding years of use in the extreme/special environments for which they are designed. We can provide systems for any application, including outdoor installations, harsh environments, or shipboard and airborne applications. Please contact us with your requirements, as we will be pleased to quote on special or unique requirements.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">Multi-Path Outlet</h3>
        <hr class="silent pt-3">
        <p><big>We can provide units with multiple path outlets so that one cooling unit can cool multiple heat loads. The cooling system may be fitted with distribution manifolds, additional pumps and instrumentation and interlocks for each path as required by the customer.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">Microprocessor Compatibility</h3>
        <hr class="silent pt-3">
        <p><big>The cooling unit operation is directed by a proven control system that can be integrated with microprocessor monitoring and control systems. Flow rate, refrigeration system operation and coolant temperature are precisely controlled to maintain cooling to specified limits.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">Miscellaneous Options</h3>
        <hr class="silent pt-3">
        <ul class="list-group">
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Heater Packages</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Auto Reservoir Fill</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Extended Temp Range</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Discrete Interlocks</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Remote Controls</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>Seawater Compatible</big></p></li>
          <li class="list-group-item list-group-item-dark"><p class="m-0"><big>High Ambient Temp Pkg.</big></p></li>
        </ul>
      </div>
    </div>
    
    <hr class="silent pt-5">
{% endblock content %}
