{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">Refrigerated Cooling Equipment</h1>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">

      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="white-shift p-4">
            <a href="/products/cooling-equipment/refrigerated/ru-series"><img class="img-fluid" src="/static/app/img/products/refrigerated/RU-Series.bmp" alt="RU Series Unit"></a>
            <h3>Liquid-to-Air</h3>
            <hr class="silent pt-3">
            <a href="/products/cooling-equipment/refrigerated/ru-series" class="btn btn-lg steel-btn">RU Series</a>
            <hr class="silent pt-3">
            <p><big>RU series with Built-In-Circulating System Air Cooled Condenser.</big></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="white-shift p-4">
            <a href="/products/cooling-equipment/refrigerated/ruw-series"><img class="img-fluid" src="/static/app/img/products/refrigerated/RUW-Series.bmp" alt="RUW Series Unit"></a>
            <h3>Liquid-to-Liquid</h3>
            <hr class="silent pt-3">
            <a href="/products/cooling-equipment/refrigerated/ruw-series" class="btn btn-lg steel-btn">RUW Series</a>
            <hr class="silent pt-3">
            <p><big>RUW series with Built-In-Circulating System Water Cooled Condenser.</big></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="white-shift p-4">
            <a href="/products/cooling-equipment/refrigerated/split-systems"><img class="img-fluid" src="/static/app/img/products/refrigerated/Split-Systems.png" alt="Split Systems Unit"></a>
            <h3>Condensing unit (outdoors)<br>is separate from<br>Pumping unit (indoors)</h3>
            <hr class="silent pt-3">
            <a href="/products/cooling-equipment/refrigerated/split-systems" class="btn btn-lg steel-btn">Split System (RU/RUW)</a>
            <hr class="silent pt-3">
            <p><big>RU or RUW series with Built-In-Circulating System Air (RU) or Water (RUW) Cooled Condenser.</big></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="white-shift p-4">
            <a href="/products/cooling-equipment/refrigerated/rc-refrig-series"><img class="img-fluid" src="/static/app/img/products/refrigerated/RC-Series.bmp" alt="RC Series Unit"></a>
            <h3>Air Circulating</h3>
            <hr class="silent pt-3">
            <a href="/products/cooling-equipment/refrigerated/rc-refrig-series" class="btn btn-lg steel-btn">RC Series</a>
            <hr class="silent pt-3">
            <p><big>RC series circulates refrigerated air.</big></p>
          </div>
        </div>
      </div>
      
    </div>

    <hr class="silent pt-5">
{% endblock content %}
