{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">RC Series - Refrigerated</h1>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="card border-0">
        <img class="card-img" src="/static/app/img/products/refrigerated/RC-Series.bmp" alt="RC Refrigerated Series Unit">
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">RC Series Refrigerated Air Circulating Systems</h3>
        <hr class="silent pt-3">
        <p class="p-2"><big><strong>ELECTRO IMPULSE LAB., INC.</strong> RC Series Refrigerated Air Circulating Systems provide air at a controlled flow rate and temperature with monitoring of pressure and temperatures. These units can be rack mounted or standalone and can have one or multiple controlled air outputs. Refrigeration and air units can be separate or combined in one unit.<br><br>Easy installation. Connect air supply lines to heat load, connect line power, ground and safety interlock.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
