{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">RU Series - Refrigerated</h1>
    </div>

    <hr class="silent pt-5">

    <div class="light-grey-shift txt-off-white">
      <div class="container text-center">
        <hr class="silent pt-5">
        <h2>RU Series Refrigerated Liquid Cooling Systems</h2>
        <hr class="silent pt-5">
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="card border-0">
        <img class="card-img" src="/static/app/img/products/refrigerated/RU-Series.bmp" alt="RU Series Unit">
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">RU series with Built-In-Circulating System Air Cooled Condenser</h3>
        <hr class="silent pt-3">
        <p class="p-2"><big>Coolant may be water, glycol/water solutions, PAO, Coolanol, Fluorocarbons or other liquids. CFC free, sealed refrigeration system features high efficiency liquid-to-refrigerant heat exchanger incorporating a hot gas bypass system for close temperature control and freeze protection. A wide variety of options is available including deionizers, flow meters, flow control valves, computer interfacing and outdoor/weatherproof units.<br><br>Easy installation. Connect supply and return lines to heat load, connect line power, ground and safety interlock and fill system with coolant.<br><br>Water cooled condensing units (RUW Series) are available. They require customer supplied tap or facility water as the secondary coolant.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
