{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">Split Systems (RU/RUW) - Refrigerated</h1>
    </div>

    <hr class="silent pt-5">

    <div class="light-grey-shift txt-off-white">
      <div class="container text-center">
        <hr class="silent pt-5">
        <h2>Split System (RU/RUW) Refrigerated Liquid Cooling Systems</h2>
        <hr class="silent pt-5">
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="card border-0">
        <img class="card-img" src="/static/app/img/products/refrigerated/Split-Systems.png" alt="Split Systems Unit">
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="text-center blue-shift txt-white border border-white round p-4">Split Systems with Built-In-Circulating System Air (RU) or Water (RUW) Cooled Condenser, The Condensing Unit is separate from Pumping Unit (2 piece system)</h3>
        <hr class="silent pt-3">
        <p class="p-2"><big><strong>ELECTRO IMPULSE LAB., INC.</strong> (RU/RUW) Split System Series refrigerated liquid cooling systems are like our stand alone RU and RUW systems except the refrigeration and pumping sections of the unit are separated. This allows the refrigeration section to be installed in a separate room or outside while the pumping and monitoring unit is installed near the heat load. Keeping heat dissipation and noise away from the work area.</big></p>
      </div>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
