{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <div class="container text-center">
      <h1 class="shadow-blue">ELECTRO IMPULSE LAB., INC.<br>Technology Information</h1>
    </div>
      
    <hr class="silent pt-5">

    <div class="container w-50">
      <div class="card text-white border-0">
        <img class="card-img" src="/static/app/img/awards/flag.jpg" alt="American Flag">
      </div>
    </div>

    <hr class="silent py-5">
      
    <div class="container text-center">
      <p class="lead">The Following Are Links To Useful Information...</p>
    </div>
      
    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="d-inline-flex p-3">
        <a href="/technology/cooling-systems" class="btn btn-lg bg-steel steel-btn">Cooling Systems</a>
      </div>
      <div class="d-inline-flex p-3">
        <a href="/technology/formulas" class="btn btn-lg bg-steel steel-btn">Formulas & Conversions</a>
      </div>
      <div class="d-inline-flex p-3">
        <a href="/technology/formulas#_temperature_calculator" class="btn btn-lg bg-steel steel-btn">Temperature Calculator</a>
      </div>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
