{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <!-- Sales Section -->
    <div class="container text-center">

      <!-- Sales Header Title -->
      <h1 class="shadow-blue">Application Engineering, Technical Support and Sales</h1>

      <hr class="silent pt-5">

      <!-- Sales Contact Section -->
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="blue-shift txt-white round border border-white p-3"><strong>ELECTRO IMPULSE LAB., INC.</strong></h3>

        <hr class="silent pt-1">

        <div class="row">
          <div class="col-md-3 custom-border-right-white">
            <h4 class="txt-white"><strong>Email:</strong></h4>
            <hr class="silent">
            <p><i>sales@electroimpulse.com</i></p>
          </div>
          <div class="col-md-3 custom-border-right-white">
            <h4 class="txt-white"><strong>Phone:</strong></h4>
            <hr class="silent">
            <p>Main: (732) 776-5800</p>
            <p>Alternate: (732) 741-0404</p>
            <p>Fax: (732) 776-6793</p>
          </div>
          <div class="col-md-3 custom-border-right-white">
            <h4 class="txt-white"><strong>Location:</strong></h4>
            <hr class="silent">
            <p>1805 Route 33, P.O. Box 278</p>
            <p>Neptune, NJ 07754-0278</p>
          </div>
          <div class="col-md-3">
            <h4 class="txt-white"><strong>Hours:</strong></h4>
            <hr class="silent">
            <p>7:00am - 4:30pm Mon - Thurs</p>
          </div>
        </div>
      </div>
    </div>

    <hr class="silent pt-5">

    <!-- Sales Mission Section -->
    <div class="light-grey-shift txt-off-white">
      <div class="container text-center">

        <hr class="silent pt-5">

        <h3>Our Goal Is To Provide Our Customers Excellent Products, Engineering And Service Support, That Meets Their Quality, Technical And Schedule Requirements.</h3>

        <hr class="silent pt-5">

      </div>
    </div>

    <hr class="silent pt-5">

    <!-- Sales Support Section -->
    <div class="container text-center">
      <div class="light-grey-shift txt-off-white round p-4">
        <h3 class="blue-shift txt-white border border-white round p-3"><strong>Contact Our Sales Team</strong></h3>

        <hr class="silent pt-1">

        <div class="row">
          <!-- Engineering Sales (Column 1) -->
          <div class="col-sm-6 col-md-4 custom-border-right-white">
            <h5 class="txt-white"><strong>Cooling Unit Engineering Sales/Applications:</strong></h5>

            <hr class="silent pt-2">

            <p>Brett Beach: Ext. 142</p>
            <p><i>bab@electroimpulse.com</i></p>

            <hr class="silent pt-2">

            <p>William Reseter: Ext. 131</p>
            <p><i>war@electroimpulse.com</i></p>
          </div>
          <!-- Customer Support (Column 2) -->
          <div class="col-sm-6 col-md-4 custom-border-right-white">
            <h5 class="txt-white"><strong>Cooling Unit Service/Customer Support:</strong></h5>

            <hr class="silent pt-2">

            <p>William Reseter: Ext. 131</p>
            <p><i>war@electroimpulse.com</i></p>

            <hr class="silent pt-2">

            <p>Brett Beach: Ext. 142</p>
            <p><i>bab@electroimpulse.com</i></p>
          </div>
          <!-- Spare Parts Support (Column 3) -->
          <div class="col-sm-12 col-md-4">
            <h5 class="txt-white"><strong>Spare Parts Support:</strong></h5>

            <hr class="silent pt-2">

            <p>Brett Beach: Ext. 142</p>
            <p><i>bab@electroimpulse.com</i></p>
          </div>
        </div>
      </div>
    </div>

    <hr class="silent pt-5">

    <!-- Sales Buttons -->
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <a href="/sales/price-list" class="btn btn-lg bg-steel steel-btn">Commercial Price List</a>
        </div>
        <div class="col-md-6">
          <a href="/sales/warranty" class="btn btn-lg bg-steel steel-btn">View Our Warranty</a>
        </div>
        <div class="col-md-6">
          <a href="/sales/manual" class="btn btn-lg bg-steel steel-btn">Request: Manual</a>
        </div>
        <div class="col-md-12">
          <a href="/sales/cooling-sys-info" class="btn btn-lg bg-steel steel-btn">Request: Cooling System Applications Info.</a>
        </div>
      </div>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
