{% extends "app/base.html" %}
{% block content %}
    <hr class="silent pt-5">

    <!-- Industries Heading Section -->
    <div class="container text-center">
      <h1 class="shadow-blue">ELECTRO IMPULSE LAB,. INC.<br>Industries & Support</h1>

      <hr class="silent pt-5">

      <p class="m-0 px-3"><big><strong>ELECTRO IMPULSE LAB,. INC.</strong> Products Supplies and Supports Systems Worldwide.<br>Customers supported by <strong>ELECTRO IMPULSE LAB,. INC.</strong> include most major aerospace and defense contractors.</big></p>
    </div>

    <hr class="silent pt-5">

    <!-- Industries Mission Section -->
    <div class="light-grey-shift txt-off-white">
      <div class="container text-center">
        <hr class="silent pt-5">
        <h3>Our Goal Is To Provide Our Customers Excellent Products, Engineering And Service Support, That Meets Their Quality, Technical And Schedule Requirements.</h3>
        <hr class="silent pt-5">
      </div>
    </div>

    <hr class="silent pt-5">

    <!-- Industries Goal Section -->
    <div class="container text-center">
      <!-- Top Goal Row (Three Columns) -->
      <div class="row align-items-center">
        <div class="col-sm-6 col-md-4">
          <p class="m-0 light-grey-shift txt-off-white round p-4"><big><strong>ELECTRO IMPULSE LAB,. INC.</strong> has the experience, staff and capability to handle any application you may have, from standard units to your most complex applications.</big></p>
        </div>
        <div class="col-sm-6 col-md-4">
          <p class="m-0 light-grey-shift txt-off-white round p-4"><big><strong>ELECTRO IMPULSE LAB,. INC.</strong> has taken great pride in winning numerous awards for our designs, engineering and manufacturing efforts.</big></p>
        </div>
        <div class="col-sm-12 col-md-4">
          <p class="m-0 light-grey-shift txt-off-white round p-4"><big><strong>ELECTRO IMPULSE LAB,. INC.'s</strong> engineers closely work with our customers’ engineering staff, ensuring that the product being designed meets all of the customer’s requirements and expectations.</big></p>
        </div>
      </div>
      <!-- Bottom Goal Row (Three Columns) -->
      <div class="row align-items-center">
        <div class="col-sm-6 col-md-4">
          <p class="m-0 light-grey-shift txt-off-white round p-4"><big><strong>ELECTRO IMPULSE LAB,. INC.</strong> is engineering oriented and our engineers oversee each and every project taken on by the company.</big></p>
        </div>
        <div class="col-sm-6 col-md-4">
          <p class="m-0 light-grey-shift txt-off-white round p-4"><big><strong>ELECTRO IMPULSE LAB,. INC.'s.</strong> Quality and Management System is certified to <a href="/static/app/pdf/Current_EIL_ISO_Certificate.pdf" target="_blank"><i>ISO 9001:2015</i></a>.</big></p>
        </div>
        <div class="col-sm-12 col-md-4">
          <p class="m-0 light-grey-shift txt-off-white round p-4"><big><strong>ELECTRO IMPULSE LAB,. INC.</strong> is proud of our excellent reputation for overall engineering/technical support, excellent quality and on-time deliveries.</big></p>
        </div>
      </div>
    </div>

    <hr class="silent pt-5">

    <!-- Product Support Header Section -->
    <div class="light-grey-shift txt-off-white">
      <div class="container text-center">
        <hr class="silent pt-5">
        <div class="row align-items-center">
          <div class="col-lg-2">
            <img height="160" src="/static/app/img/awards/slc-air.jpg" alt="SLC Air Award">
          </div>
          <div class="col-lg-8">
            <h2>Programs supported by<br>ELECTRO IMPULSE LAB,. INC.</h2>
          </div>
          <div class="col-lg-2">
            <img height="200" src="/static/app/img/awards/raytheon.jpg" alt="Raytheon Award"/>
          </div>
        </div>
        <hr class="silent pt-5">
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="light-grey-shift txt-off-white round p-3">
        <h3 class="blue-shift txt-white border border-white round p-3"><strong>Airborne Systems & Support</strong></h3>
        <div class="row justify-content-center">
          <div class="col-sm-6 col-md-4 align-self-center">
            <p class="m-0 py-2"><big>F-14</big></p>
            <p class="m-0 py-2"><big>F-15</big></p>
            <p class="m-0 py-2"><big>F-16</big></p>
            <p class="m-0 py-2"><big>F-18</big></p>
          </div>
          <div class="col-sm-6 col-md-4 align-self-center">
            <p class="m-0 py-2"><big>F-22</big></p>
            <p class="m-0 py-2"><big>F-35 JSF</big></p>
            <p class="m-0 py-2"><big>B-1B</big></p>
            <p class="m-0 py-2"><big>EF-111</big></p>
          </div>
          <div class="col-sm-12 col-md-4 align-self-center">
            <p class="m-0 py-2"><big>AWACS</big></p>
            <p class="m-0 py-2"><big>LANTIRN</big></p>
            <p class="m-0 py-2"><big>AMRAAM</big></p>
            <p class="m-0 py-2"><big>Flying Test Beds</big></p>
            <p class="m-0 py-2"><big>Global Hawk</big></p>
          </div>
        </div>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="light-grey-shift txt-off-white round p-3">
        <h3 class="blue-shift txt-white border border-white round p-3"><strong>Ground Support Systems</strong></h3>
        <div class="row justify-content-center">
          <div class="col-sm-6 col-md-4 align-self-center">
            <p class="m-0 py-2"><big>Patriot</big></p>
            <p class="m-0 py-2"><big>JSTARS</big></p>
            <p class="m-0 py-2"><big>Arrow Missile Program</big></p>
            <p class="m-0 py-2"><big>Minuteman</big></p>
            <p class="m-0 py-2"><big>Iron Dome</big></p>
            <p class="m-0 py-2"><big>Cobra Judy</big></p>
          </div>
          <div class="col-sm-6 col-md-4 align-self-center">
            <p class="m-0 py-2"><big>Radar</big></p>
            <p class="m-0 py-2"><big>Rail Garrison</big></p>
            <p class="m-0 py-2"><big>Starfire Optical Range</big></p>
            <p class="m-0 py-2"><big>Wedgetail</big></p>
            <p class="m-0 py-2"><big>Next Generation Jammer</big></p>
            <p class="m-0 py-2"><big>BAMS</big></p>
          </div>
          <div class="col-sm-12 col-md-4 align-self-center">
            <p class="m-0 py-2"><big>Peacekeeper</big></p>
            <p class="m-0 py-2"><big>ASPJ</big></p>
            <p class="m-0 py-2"><big>AN/USC-38V EHF</big></p>
            <p class="m-0 py-2"><big>Avionics Testing</big></p>
            <p class="m-0 py-2"><big>Green Pine Radar</big></p>
            <p class="m-0 py-2"><big>SABR</big></p>
          </div>
        </div>
      </div>
    </div>

    <hr class="silent pt-5">

    <div class="container text-center">
      <div class="light-grey-shift txt-off-white round p-3">
        <h3 class="blue-shift txt-white border border-white round p-3"><strong>Shipboard Systems</strong></h3>
        <div class="row justify-content-center">
          <div class="col-sm-6 col-md-6 align-self-center">
            <p class="m-0 py-2"><big>Sidekick</big></p>
            <p class="m-0 py-2"><big>Tomahawk</big></p>
            <p class="m-0 py-2"><big>Sea Sparrow</big></p>
          </div>
          <div class="col-sm-6 col-md-6 align-self-center">
            <p class="m-0 py-2"><big>AN/SLQ-32</big></p>
            <p class="m-0 py-2"><big>AN/USC-38V</big></p>
            <p class="m-0 py-2"><big>AN/SPS-40E</big></p>
            <p class="m-0 py-2"><big>AN/SLY-2 (v)</big></p>
          </div>
        </div>
      </div>
    </div>

    <hr class="silent pt-5">
{% endblock content %}
